---
import Container from "./Container.astro";
import { Image } from "astro:assets";
import btrl from "../assets/btrl.png";

const logoSize = 32;

const items = [
  { name: "Home", href: "/" },
  { name: "Services", href: "#Services" },
  { name: "Products", href: "#Products" },
  { name: "Contact", href: "#Contact" },
];
---

<header class="my-8">
  <Container>
    <section class="flex justify-between items-center">
      <a href="/" class="flex items-center gap-4">
        <Image
          src={btrl}
          alt="Astro logo"
          width={logoSize}
          height={logoSize}
          class="rounded-3xl"
        />
        <h1 class="text-xl font-bold hover:translate-x-1 duration-300"
          >Byteteural</h1>
      </a>
      <nav class="hidden md:flex gap-8">
        {
          items.map(item => (
            <a
              class="dropshadow textline hover:text-[#6698FE] duration-300 p-4 font-bold text-lg"
              href={item.href}
            >
              {item.name}
            </a>
          ))
        }
      </nav>
    </section>
  </Container>
</header>

<style>
  .dropshadow:hover {
    filter: drop-shadow(0px 0px 18px #959bf0);
  }

  .textline {
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    position: relative;
  }
  .textline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #6698fe;
    transition:
      width 0.3s ease 0s,
      left 0.3s ease 0s;
    width: 0;
  }
  .textline:hover:after {
    width: 100%;
    left: 0;
  }
</style>
